#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
.stepperBtn {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  background: #172539;
  color: #63b38f;
  border-radius: 12px;
  padding: 0.5em 1.4em;
  font-size: 1.2em;
  font-weight: 500;
  margin: 1.4em;
}
.nav{
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.reply_comment{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: .5rem;
  border-radius: 4px;
  width: 100px;
  height: 50px;
  color: aliceblue;
  background-color: #172539;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.commentContainer{
  margin-top: .5rem;
  background-color: rgb(244, 244, 244);
  border: 1px solid;
  border-radius: 4px;
  padding: 4px;
}
.replayContainer{
  display: flex;
  margin-top: 1px;
}
.replayContainer > * {
  margin: 0 10px; /* Adjust the value to control the gap */
}
.inputContainer__input{
  width: 50%;
}
.reply{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: .5rem;
  border-radius: 4px;
  width: 75px;
  height: 25px;
  color: aliceblue;
  background-color: #172539;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}